*,
*::after,
*::before {
    box-sizing: border-box;
}

.App {
    text-align: center;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.App-header {
    background: #678cd7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.notes-form {
    width: 600px;
    height: 250px;
    padding: 16px;
    margin: 16px auto;
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 70%;
    resize: none;
    font-size: 14px;
    border: none;
    font-weight: 300;
    outline: none;
}

.notes-form__btns {
    display: flex;
    justify-content: space-between;
}

.add-note__btn {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
    background: #3617a7;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
}

.add-note__btn:disabled {
    background: #597fce;
    cursor: default;
}

.btn-color {
    padding: 20px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}

.btn-color.active::before {
    content: "";
    background-image: url("assets/images/check-icon.svg");
    width: 13px;
    height: 13px;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
}

.yellow {
    background: linear-gradient(to bottom, rgba(255, 206, 82, 0.8) 0%, rgba(224, 168, 22, 0.92) 100%);
}

.green {
    background: linear-gradient(to bottom, rgba(189, 255, 82, 0.8) 0%, rgba(142, 215, 26, 0.86) 100%);
}

.blue {
    background: linear-gradient(to bottom, rgba(82, 229, 255, 0.8) 0%, rgba(50, 189, 213, 0.8) 100%);
}

.red {
    background: linear-gradient(to bottom, rgba(255, 117, 82, 0.8) 0%, rgba(193, 69, 38, 0.8) 100%);
}

.grey {
    background: linear-gradient(to bottom, rgb(215, 214, 214) 0%, rgb(161, 161, 161) 100%);
}

.notes-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 600px;
}

.note {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    border-radius: 5px;
    width: 107px;
    height: 100px;
    margin-bottom: 16px;
    color: #0a1e57;
    font-size: 15px;
    cursor: pointer;
    position: relative;
}

.note-title {
    width: 80px;
    height: 74px;
    overflow: hidden;
    margin: 0 auto;
}
.delete-note__btn {
    position: absolute;
    color: #ffffff;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    /*background: #3617a7;*/
    background: rgba(7, 20, 85, 0.7);
    border-top-left-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease;
    width: 100%;
}
.delete-note__btn:hover{
    opacity: 1;
}
.inner-card-title{
    background: rgba(0, 0, 0, 0.8);
    color:white;
    position: absolute;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    padding: 5px;
    transition: all 0.3s ease;
}
.movie-card:hover .inner-card-title {
    opacity: 1;
}
/*----------------scroll---------------*/
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 8px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    box-shadow: inset 1px 0 0 #e6e6e6
}

::-webkit-scrollbar-track:hover {
    background-color: #f3f3f3;
    box-shadow: inset 1px 0 0 #e6e6e6
}

::-webkit-scrollbar-track:active {
    background-color: #f3f3f3;
    box-shadow: inset 1px 0 0 #dcdcdc, inset -1px 0 0 #eeeeee
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 0;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 #e6e6e6, inset 0 -1px 0 #eeeeee
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
    box-shadow: inset 1px 1px 1px #c0c0c0
}

::-webkit-scrollbar-thumb:active {
    background-color: #808080;
    box-shadow: inset 1px 1px 3px #a6a6a6
}