*,
*::after,
*::before {
    box-sizing: border-box;
}


.App {
    text-align: center;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.App-header {
    background: linear-gradient(to bottom, #796bee 0%, #3128c2 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.notes-form {
    width: 600px;
    height: 250px;
    padding: 16px;
    margin: 16px auto;
    background-color: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

textarea {
    width: 100%;
    height: 70%;
    resize: none;
    font-size: 14px;
    border: none;
    font-weight: 300;
    outline: none;
}
.notes-form__btns{
    display: flex;
    justify-content: space-between;
}

.add-note__btn {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
    background: #4925ce;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 40px;
}
.add-note__btn:disabled{
    background: #9177f1;
    cursor: default;
}
.btn-color{
    padding: 20px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.btn-color.active::before {
    content: "";
    background-image: url("assets/images/check-icon.svg");
    width: 13px;
    height: 13px;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
}

.yellow{
    background-color: rgba(255, 206, 82, 0.8);
}

.green{
    background-color: rgba(189, 255, 82, 0.8);
}
.blue{
    background-color: rgba(82, 229, 255, 0.8);
}
.red{
    background-color: rgba(255, 117, 82, 0.8);
}
.grey{
    background-color: rgba(199, 199, 199, 0.8);
}

.notes-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 600px;
}

.note {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    color: #102b7b;
    font-size: 15px;
    cursor: pointer;
    position: relative;

}
.note-title{
    width: 80px;
    height: 74px;
    overflow: hidden;
    margin: 0 auto;
}

.delete-note__btn{
    position: absolute;
    color: #ffffff;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #8652ff;
    border-top-left-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

/*----------------scroll---------------*/
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 8px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    box-shadow: inset 1px 0 0 #e6e6e6
}

::-webkit-scrollbar-track:hover {
    background-color: #f3f3f3;
    box-shadow: inset 1px 0 0 #e6e6e6
}

::-webkit-scrollbar-track:active {
    background-color: #f3f3f3;
    box-shadow: inset 1px 0 0 #dcdcdc, inset -1px 0 0 #eeeeee
}

::-webkit-scrollbar-thumb {
    background-color: #cccccc;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 0px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 #e6e6e6, inset 0 -1px 0 #eeeeee
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
    box-shadow: inset 1px 1px 1px #c0c0c0
}

::-webkit-scrollbar-thumb:active {
    background-color: #808080;
    box-shadow: inset 1px 1px 3px #a6a6a6
}